/* Globala inställningar */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Tar bort eventuell scroll */
}

#root {
  background-color: rgb(226, 209, 176);
  height: calc(var(--vh, 1vh) * 100); /* Dynamisk höjd för iOS-problemet */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative; /* Behövs för absolut positionerade element */
}

.img,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top; /* Se till att toppen av bilden syns */
  position: absolute;
  z-index: -1;
}

img {
  filter: contrast(1.2) brightness(1.1) saturate(1.3);
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.211);
  z-index: 1;
}
